@import "../components/global.scss";

.app{
     background-color: $bg-color;
}

a:last-of-type{
     padding-right: 0px;
}

@media only screen and (max-width: 768px) {
     h1, .sec-title{
          font-size: 24px;
     }

     h3{
          font-size: 16px;
     }
}