@import "../../global.scss";

#sec-header{
     padding-top: 20px;
     width: 90%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
}

.sec:first-of-type{
     justify-content: space-between;
     min-height: 100vh;
}

#pres{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap-reverse;
     width: 90%; 
}

#pres > div{
     flex: 1;
}

#pres > div:first-of-type{
     display: flex;
     flex-direction: column;
     justify-content: center;
     min-width: 256px;
     padding-top: 24px;
     max-width: 384px;
}

#pres > div:first-of-type > a > button{
     margin-top: 32px;
}

#pres > div > h3{
     text-align: justify;
}

#pres > div:nth-last-of-type(2){
     width: 64px;
     flex: none;
}

#pres > div:nth-of-type(3){
     display: flex;
     flex-direction: row;
     justify-content: center;
     min-height: 318px;
     min-width: 318px;
     max-width: 318px;
}

#pres > div:nth-of-type(3) > img{
     height: 318px;
     width: 318px;
     border-radius: 50%;
     border: 4px dashed $main-color;
}

.sec:first-of-type > div:last-of-type{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-bottom: 12px;
     width: 100%;
}

.sec:first-of-type > div:last-of-type > span{
     color: #888888;
     font-weight: 700;
}

#sec-header > svg{
     display: none;
}

#side-nav{
     position: fixed;
     z-index: 1;
     left: 0;
     height: 100vh;
     width: 100%;
     max-width: 256px;
     background-color: #efefef;
     display: flex;
     padding: 24px;
     flex-direction: column;
     overflow-y: scroll;
     box-sizing: border-box;
}

#side-nav > p{
     font-size: 22px;
     font-weight: 700;
}

#sn-close-row{
     display: flex;
     flex-direction: row;
     justify-content: end;
     width: 100%;
}

#sn-close-row > *{
     cursor: pointer;
}

#side-nav > div:nth-of-type(2){
     display: flex;
     flex-direction: column;
}

#side-nav > div:nth-of-type(2) > a{
     color: #888;
     transition: 0.2s;
     padding-bottom: 12px;
     cursor: pointer;
}

#side-nav > div:nth-of-type(2) > a:hover{
     color: #222;
}

#side-nav > div:nth-of-type(2) > a:last-of-type{
     padding-bottom: 0px;
}

@media only screen and (max-width: 768px) {
     #pres{
          flex-direction: column;
          flex-flow: column-reverse;
          align-items: center;
     }

     #pres > div{
          width: 100%;
          padding: 0px !important;
     }

     #pres > div:first-of-type{
          align-items: left;
          margin-top: 32px;
     }

     #pres > div:nth-child(3){
          flex-direction: column;
          justify-content: end;
          align-items: center;
          flex: none;
          min-height: 190px;
          min-width: 190px;
     }

     #pres > div:nth-child(3) > img{
          height: 190px !important;
          width: 190px !important;
     }

     #sec-header > div{
          display: none;
     }

     #sec-header > svg{
          display: flex;
     }     

     #side-nav{
          max-width: none;
     }
}